/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
   
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 1470px;
}

/* Styling for the form container */
form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 500px;
    padding: 30px;
}

/* Styling for the header */
h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Styling for the paragraph */
p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

/* Styling for the form elements */
form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Style the submit button */
form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

/* Change button color on hover */
form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style form error messages */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}