/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Styling for the content container */
.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 30px;
}

/* Styling for the header */
h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Styling for the paragraphs */
p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

fieldset {
    padding: 60px;
    border: 20px;
}

div {
    border: border-box;
    border: 2px;
    background-color: aquamarine;
}

button {
    margin-top: 20px !important;
    padding: 10px;
}