<!doctype html>
<html lang="en">
<head>
    {% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#feed01"/>
<title>Digital exhibition</title>
<meta name="author" content="Themezinho">
<meta name="description" content="For all kind of exhibition museum website">
<meta name="keywords" content="wandau, exhibition, museum, art, history, entry, ticket, contemporary, modern, booking, visit, culture, life, centuries, roots, fancy, themezinho">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Wandau | Art & History Museum">
<meta property="og:image" content="preview.html">
<meta property="og:site_name" content="wandau">
<meta property="og:title" content="wandau">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/wandau">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wandau">
<meta name="twitter:creator" content="@wandau">
<meta name="twitter:title" content="wandau">
<meta name="twitter:description" content="Wandau | Art & History Museum">
<meta name="twitter:image" content="preview.html">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="preloader" id="preloader">
  <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1">
    <path d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z"></path>
  </svg>
  <div class="inner">
    <canvas class="progress-bar" id="progress-bar" width="200" height="200"></canvas>
    <figure><img src="{% static 'images/preloader.png' %}" alt="Image"></figure>
    <small>Loading</small> </div>
  <!-- end inner -->
</div>
<!-- end preloder -->
<div class="page-transition">
  <svg viewBox="0 0 1920 1080" preserveAspectRatio="none" version="1.1">
    <path d="M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z"></path>
  </svg>
</div>
<!-- end page-transition -->
<div class="smooth-scroll">
  <div class="section-wrapper" data-scroll-section>
    <div class="search-box">
      <div class="container">
        <div class="form">
          <h3>SEARCH EVENT</h3>
          <input type="search" placeholder="What are you looking for ?">
          <input type="submit" value="SEARCH">
        </div>
        <!-- end form -->
        <div class="search-events">
          <ul>
            <li>
              <h5><a href="#">Artemisia Gentileschi talk with Maria</a></h5>
              <small>15 August – 31 October 2023</small> </li>
            <li>
              <h5><a href="#">Artemisia Gentileschi talk with Maria</a></h5>
              <small>15 August – 31 October 2020</small> </li>
            <li>
              <h5><a href="#">Artemisia Gentileschi talk with Maria</a></h5>
              <small>15 August – 31 October 2020</small> </li>
          </ul>
        </div>
        <!-- end search-events -->
      </div>
    </div>
    <!-- end search-box -->
    <aside class="side-widget">
      <svg viewBox="0 0 600 1080" preserveAspectRatio="none" version="1.1">
        <path d="M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"></path>
      </svg>
      <figure class="logo"> <img src="{% static 'images/logo-light.png' %}" alt="Image"> </figure>
      <!-- end logo -->
      <div class="inner">
        <div class="widget">
          <figure><img src="{% static 'images/image07.jpg' %}" alt="Image"></figure>
          <p>It speedily me addition <strong>weddings vicinity</strong> in pleasure. Happiness commanded an conveying breakfast in. Regard her say warmly elinor. Him these are visit front end for <u>seven walls</u>. Money eat scale now ask law learn.</p>
        </div>
        <!-- end widget -->
        <div class="widget">
          <h6 class="widget-title">Opening Hours</h6>
          <p>Tuesday ‒ Friday: 09:00 ‒ 17:00<br>
            Friday ‒ Monday: 10:00 ‒ 20:00</p>
        </div>
        <!-- end widget -->
      </div>
      <!-- end inner -->
      <div class="display-mobile">
        <div class="custom-menu">
          <ul>
            

          </ul>
        </div>
        <!-- end custom-menu -->
        <div class="site-menu">
          <ul>
              <li><a href="{% url 'visit' %}">Visit</a></li>
            <li><a href="{% url 'exhibitions' %}">Exhibitions</a></li>
            <li><a href="{% url 'collections' %}">Collections</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
        <!-- end site-menu -->
      </div>
      <!-- end display-mobile -->
    </aside>
    <nav class="navbar">
      <div class="logo"> <a href="{% url 'view' %}"> <img src="{% static 'images/logo.png' %}" alt="Image"> </a> </div>
      <!-- end logo -->
      <div class="custom-menu">
        <ul>
          

        </ul>
      </div>
      <!-- end custom-menu -->
      <div class="site-menu">
        <ul>
           <li><a href="{% url 'visit' %}">Visit</a></li>
            <li><a href="{% url 'exhibitions' %}">Exhibitions</a></li>
            <li><a href="{% url 'collections' %}">Collections</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <!-- end site-menu -->
      <div class="search-button"> <i class="far fa-search"></i> </div>
      <!-- end search-button -->


      <!-- end navbar-button -->
    </nav>
    <!-- end navbar -->
    <header class="page-header" data-background="{% static 'images/page-header.jpg' %}">
      <div class="inner">
        <svg width="580" height="400" class="svg-morph">
          <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
        </svg>
        <h1>Exhibition<br>details</h1>
        
      </div>
      <!-- end inner -->
    </header>
    <!-- end page-header -->
    <section class="content-section" data-background="#fffbf7">
      <div class="container">
			<div class="row align-items-center">
		  	<div class="col-lg-6">
					<div class="side-content left">
				<small>50% off exhibitions</small>
						<h2>Bharatmata by Subrata Ghosh</h2>
						<p>Beautiful paintings, sculpture and decorative art from the
20th century to the present day.
</p>
						<table>
                        <tr>
                            <td>START</td>
                          <td>: 15 March 2023</td>
                          </tr>
                        <tr>
                            <td>END </td>
                            <td>: 25 November 2023 </td>
                          </tr>
                        <tr>
                            <td>EVENT CATEGORY </td>
							<td>: Exhibition</td>
                          </tr>
                        <tr>
                            <td>VENUE NAME </td>
                            <td>: Hitex</td>
                          </tr>
                      </table>
				</div>
				<!-- end side-content -->

            <div class="side-icon-list">
              <ul>
                <li>
                  <figure> <img src="{% static 'images/icon01.png' %}" alt="Image"> </figure>
                  <div class="content">
                    <h5>Opening timings</h5>
                    <p>From 27 August<br>
                      Thursday – Sunday: 11.00-19.00</p>
                  </div>
                  <!-- end content -->
                </li>
              </ul>
            </div>
            <!-- end side-icon-list -->
				</div>
				<!-- end col-6 -->
				<div class="col-lg-6">
					<div class="side-image right-half" data-scroll data-scroll-speed="1">
						<img src="{% static 'images/side-imag05.jpeg' %}" alt="Image">
					</div>
					<!-- end side-image -->
				</div>
				<!--end col-6 -->
		  </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
	   <section class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
			  <div class="text-box">
			  <h3>Exhibitions Details</h3>
				  <p>"We often denote India with the motherly figure. This painting by Subrata Ghosh.".</p>

<p>"India or Bharatmata is not just a country but is an emotion and pride that we as Indians wear on our chest."</p>

<p>"This metaphoric representation is truly justified. Just as a mother gives life, shelter in her womb, food and love, our country also provides us with life, food, love, and shelter. We owe our existence to our biological mother and our survival to Mother India."</p>
			  </div>
			  <!-- end text-box -->
	  		</div>
				<!--end col-12 -->
		  </div>
		  <!-- end row -->
		</div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
	 <section class="content-section no-spacing">
      <div class="container">
		  <div class="row align-items-center">
		  <div class="col-lg-6">
			  	<div class="side-image" data-scroll data-scroll-speed="1">
			  	<img src="{% static 'images/side-imag06.jpg' %}" alt="Image">
			  </div>
			  <!-- end side-image -->
			  </div>
			  <!-- end col-6 -->
			   <div class="col-lg-6">
				   <div class="side-list right">
				   <ul>
                       <h3><b>Expressions by Mithun Dutta</b></h3>
				   <li>"This colorful artwork by<strong>Mithun Dutta </strong> is an artistic depiction of another very ancient and important art form of India, Kathakali."</li>

					   <li>"It is the traditional dance form of India rooted in the <strong>southern state of India,</strong> Kerala."</li>

                       <li><strong>"Kathakali </strong>is one of the eight Sangeet Natak Academi recognized official dance forms of India. This dance involves colors, makeup, enormous costumes, and accessories worn by the performer, depicting various stories."</li>
				   </ul></div>
				   <!-- end side-list -->
				     </div>
			  <!-- end col-6 -->
		  </div>
		  <!-- end row -->
		 </div>
		 <!-- end container -->
			  </section>
    <!-- end content-section -->
	  <section class="content-section">
	   <div class="container">
		  <div class="row align-items-center">
			  <div class="col-12">
			   <div class="section-title text-center">
              <figure><img src="{% static 'images/title-shape.png' %}" alt="Image"></figure>
              <h6>DON’T MISS THE OPPORTUNITY</h6>
              <h2>Artistry Museum<br> Now Open </h2>
            </div>
            <!-- end section-title -->
			  </div>
			  <!-- end col-12 -->
			  <div class="col-12">
            <figure class="image-box" data-scroll data-scroll-speed="1"> <img src="{% static 'images/image08.jpg' %}" alt="Image"> </figure>
          </div>
			  <!-- end col-12 -->
			  <div class="clearfix spacing-50"></div>
			  <div class="col-12">
			  <div class="text-box">
				  <h2>Permanent Collection</h2>
				  <p>India's Independence Day, celebrated on August 15th, marks freedom from colonial rule.
Historical buildings like the Red Fort symbolize our nation's rich heritage and struggle.</p>

<p>Diverse dances, from Bharatanatyam to Bhangra, embody our cultural tapestry so grand.
Together, they echo India's past, present, and vibrant future, a truly unified land.</p>
				  </div>
				  <!-- end text-box -->
			  </div>
			  <!-- end-col-12 -->
		  </div>
		  <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- end content-section -->
    
    <!-- end content-section -->
     <footer class="footer" style="background: #F0F0F0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h6 class="widget-title">About our exhibition</h6>
            <ul class="footer-menu">
              <li><a href="{% url 'about' %}">About us </a></li>
              <li><a href="{% url 'contact' %}">Contact us</a></li>
              <li><a href="{% url 'collections' %}">Collections</a></li>
              <li><a href="{% url 'exhibitions' %}">Exhibitions</a></li>
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4 col-md-6">
            <h6 class="widget-title">Connect with us</h6>
            <ul class="social-media">
              <li><a href="https://www.facebook.com/profile.php?id=100063931831017"><i class="fab fa-facebook-f"></i> /artistry-ind</a></li>
              <li><a href="https://twitter.com/ngma_delhi?lang=en"><i class="fab fa-twitter"></i> /artistry-museum</a></li>
              <li><a href="https://www.youtube.com/channel/UC416BswuE2ItX23GySxZcRQ"><i class="fab fa-youtube"></i> /artistry-tv</a></li>

            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-lg-4">
            <h6 class="widget-title">Visit Us </h6>
            <address class="address">
            National Skill Training Institute <strong>Noida - Uttar Pradesh</strong> <i class="fas fa-info-circle"></i> +011 7942 2000
            </address>
          </div>
          <!-- end col-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
      <div class="footer-bottom">
        <div class="container"> <span class="copyright">© 2023 Artistry | Art Work Exhibitions</span> <span class="creation">Site created by <a href="#">team-Artistry</a></span> </div>
        <!-- end container -->
      </div>
      <!-- end footer-bottom -->
    </footer>
    <!-- end footer -->
  </div>
</div>

<!-- JS FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/locomotive-scroll.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/kinetic-slider.js' %}"></script>
<script src="{% static 'js/fancybox.min.js' %}"></script>
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>

<!-- Mirrored from themezinho.net/wandau/exhibition-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 20:45:37 GMT -->
</html>
